@tailwind base;
@tailwind components;
@tailwind utilities;

// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';


.button
{
    @apply bg-blue-400 text-white no-underline rounded-lg shadow-lg text-sm py-2 px-5;

    // &.is-outlined{

    //     @apply bg-white border border-accent text-accent;
    // }
}

.card
{

    @apply bg-card p-5 rounded-lg shadow;
}


.theme-light {
    --page-background-color: #eef0f8;
    --card-background-color: white;
    --button-background-color: rgb(4, 207, 243);
    --header-background-color: white;
    --text-default-color: #222;
}

.theme-dark {
    --page-background-color: #17181E;
    --card-background-color: #1F2027;
    --button-background-color: #59B6F9;
    --header-background-color: #1F2027;
    --text-default-color: #fff;
}

.button {
    border-radius: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(96 165 250 / var(--tw-bg-opacity));
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  
  .card {
    border-radius: 0.5rem;
    background-color: var(--card-background-color);
    padding: 1.25rem;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  
  .theme-light {
    --page-background-color: #F5F6F9;
    --card-background-color: white;
    --button-background-color: rgb(4, 207, 243);
    --header-background-color: white;
    --text-default-color: #222;
  }
  
  .theme-dark {
    --page-background-color: #17181E;
    --card-background-color: #1F2027;
    --button-background-color: #59B6F9;
    --header-background-color: #1F2027;
    --text-default-color: #fff;
  }
  
  @media (prefers-color-scheme: dark) {
  
  .theme-dark {
    --page-background-color: #17181E;
    --card-background-color: #1F2027;
    --button-background-color: #59B6F9;
    --header-background-color: #1F2027;
    --text-default-color: #fff;
  }